
.header {
  width:595px;
  height:842px;
  margin: auto;
  position:relative;
  padding: 20px;
   
}
h2{
  font-family: "Times New Roman";
  color: #ff6600
}
h1{
   color: #ff6600
}
img, h1{
  display: inline-block;
   font-family: Cursive;
  
}

.container{
  display: flex;
}





